apiVersion: build.openshift.io/v1
kind: BuildConfig
metadata:
  name: cdc-dashboard
  labels:
    app: cdc-dashboard
spec:
  source:
    type: Binary
  strategy:
    type: Docker
    dockerStrategy:
      dockerfilePath: Dockerfile
  output:
    to:
      kind: ImageStreamTag
      name: cdc-dashboard:latest
  triggers: []

